:root {
    --slide-spacing-sm: 1.6rem;
    --slide-spacing-lg: 2rem;
    --slide-size: 100%;
    --slide-size-sm: 50%;
    --slide-size-lg: calc(100% / 3);
}

html.dark .text-style-1 {
    @apply bg-header-gradient bg-clip-text text-transparent;
}

html.green .text-style-1 {
    color: #dbdfe6;
}
html.light .text-style-1 {
    color: #272626;
}

html.light .quill {
    border-top: 1px solid #ccc;
}

.title-border {
    @apply green:border-b green:border-[#CEDFFF1A] green:pb-3 light:border-b light:border-[#2726264D] light:pb-3;
}

.ql-editor {
    min-height: 192px;
}

html.dark .ql-editor {
    background: #000005 !important;
    color: white !important;
}

html.dark .ql-editor[data-placeholder]::before {
    color: white !important;
}

html.green .ql-editor {
    background: #171919 !important;
    color: #737373 !important;
}
html.green .ql-editor[data-placeholder]::before {
    color: #737373 !important;
}

html.light .ql-editor {
    background: white !important;
    color: #272626 !important;
}
html.light .ql-editor[data-placeholder]::before {
    color: #272626 !important;
}

.ql-container.ql-snow {
    @apply overflow-hidden !border-t;
    border: none !important;
}

.quill {
    display: flex;
    flex-direction: column-reverse;
    @apply overflow-hidden !border-t;
    border: none !important;
}
#toolbar::after {
    content: unset !important;
}
.ql-snow .ql-formats:after div {
    content: unset !important;
}
.ql-toolbar.ql-snow {
    border: none !important;
    border-top: 1px solid #e5e7eb !important;
}

.border-gradient { 
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(157, 157, 157, 0.25) 0%, rgba(157, 157, 157, 0) 100%, rgba(157, 157, 157, 0) 100%);
}

.ql-snow {
    .ql-formats {
        button[type='button'] {
            padding: 0 !important;
            width: 1.2rem !important;
            height: 1.2rem !important;
            margin: 0 0.3rem ;
            svg {
                width: 1.4rem !important;
                height: 1.4rem !important;

            }

            // Desktop styles
            @media (min-width: 62rem) {
                width: 2rem !important;
                height: 2rem !important;
                margin: 0 0.4rem;
                
                svg {
                    width: 2rem !important;
                    height: 2rem !important;
                }
            }
        }
    }
}

