@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
@font-face {
    font-family: 'Manrope';
    src: url('/fonts/manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html.theme-marketing {
    --font-family: 'Manrope', sans-serif;
}

html.theme-developer {
    --font-family: 'Manrope', sans-serif;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --radius: 8px;
    --font-family: 'DM Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    -webkit-text-size-adjust: 100%;
    color: rgb(var(--foreground-rgb));
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-variation-settings:
    "wght" 375,
    "GRAD" 88;
}

/* * {
    font-family: var(--font-family);
} */

html {
    height: -webkit-fill-available;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    font-size: 1vw;
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 992px) {
    html {
        font-size: calc(1440 / 375) * 1vw;
    }
}

.h-\[100vh\] {
    min-height: -webkit-fill-available;
}

.min-h-\[100vh\] {
    min-height: -webkit-fill-available;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.min-h-available {
    min-height: -webkit-fill-available;
}
